@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: 255 255 255;
  --primary-text: 130 36 2;
  --text: 0 0 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg: 11 16 31;
    --primary-text: 225 224 252;
    --secondary-bg: 16 27 46;
    --secondary-text: 183 181 223;
    --accent: 26 39 63;
    --text: 255 255 255;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
